<div class="container-home">
  <div class="content-home"> <img src="../src/assets/images/home.jpg" /></div>
  <p>Bienvenidos a la Web, <strong>Heraldry proyect</strong>, donde puede subir sus proyectos heráldicos y genealógicos y nuestros usuarios pueden financiarlos al igual que las editoriales amigas pueden ponerse en contacto con usted para colaborar en su
    proyecto.</p>
  <div class="content-home">
    <img src="../src/assets/images/heraldica.jpg" />
    <img src="../src/assets/images/justa.jpg" />
    <img src="../src/assets/images/blason.jpg" />
  </div>



</div>
