.libreria {
  margin-top: 210px;
  background-color: CORNSILK;
  padding: 5px;
  color: black;
  text-align: center;

  width: 100%;
  z-index: 99;
}
.content-home img {
  height: 300px;
  opacity: 1.0;
  padding: 3px;
  display: inline;
  margin-left: 4%;
}
