<p>
  form works!
</p>
<h1> Sube tus productos </h1>
<div class="form-container">
	<section id="content">
    <form method="post">
  <h2> Sube tu libro</h2>
  <label> Nombre del libro </label>
  <input type="text" [(ngModel)]="formApp.title" name="title"/>
  <br>
  <label> Descripción </label>
  <input type="text" [(ngModel)]="formApp.description" name="description"/>
  <br>
  <label> Price </label>
  <input type="number" [(ngModel)]="formApp.price" name="price"/>
  <br>
  <label> Subir Imagen </label>
  <input type="file" name="file" ng2FileSelect [uploader]="uploader" />




  <button (click)="createApp()"> Crear App </button>

</form>
<p class="error"> {{ error }} </p>
</section>
</div>
