
<div class="form-container">
	<section id="content">
    <form method="post">
<br>
  <h1> Sube tu libro</h1>

  <input class="txt" type="text" [(ngModel)]="formApp.title" name="title" placeholder="Nombre del libro"/>
  <br><br>

  <input class="txt" type="text" [(ngModel)]="formApp.description" name="description" placeholder="Description"/>
  <br><br>

  <input class="txt" type="number" [(ngModel)]="formApp.price" name="price" placeholder="Price"/>
  <br><br>
  <input class="txt" type="text" [(ngModel)]="formApp.image" name="image" placeholder="image"/>
  <br><br>



<br><br>
  <button (click)="createApp()"> Crear App </button>

	</form>

<p class="error"> {{ error }} </p>
<br><br><br><br>
</section>
</div>
