nav{
 background-color: black;
 position: fixed;
 width: 100%;


 margin: 0 auto;
 top: 0;
}

.lista{
 float: right;
 padding: 20px 30px;
 margin: 0 auto;
 text-decoration: none;
 color: white;
}

.lista > li{
 display:inline-block;
 padding:10px;
 color: white;
 text-decoration: none;
 color: white;
 font-size: 17px;
}

.lista > li a{
  text-decoration: none;
  color: white;
}
